<template name="mainLayout">
	<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor '/'}}"><h3>STOCK MATE</h3></a>
            </div>
            <div class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">

                
                    {{#if currentUser}}
                        <li><a href="#" class="">Howdy <b>{{currentUser.username}}</b>!</a></li>
                        <li><a href="/" id="signOut" class="">Log Out</a></li>
                       
                    {{else}}
                        <li class="{{isActiveRoute regex='home'}} "><a href="{{pathFor 'home'}}">Home</a></li>
                        <li class="{{isActiveRoute regex='login'}} "><a href="{{pathFor 'login'}}">Log In</a></li>
                         
                        <li><a href="#" class="">About Us</a></li>
                        <li><a href="#" class="">Contact</a></li>
                        
                        
                    {{/if}}
                </ul>
            </div>
        </div>
    </header><!--/header-->
   {{> bootstrapAlerts}}
  {{> yield}}
  {{> meteorStatus}}
    </template>